/*eslint-disable */
@use "variables";

* {
  margin: 0;
}
body {
  margin: 0px;
  padding: 0px;
}
.unstyle {
  all: unset;
}

hr {
  margin: 0;
  height: 2px;
  background-color: variables.$sl-blanco;
}

.loginContainer {
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  background: variables.$sl-principal;
  color: variables.$sl-blanco;

  &__inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 200px;
    font-family: variables.$tp-roboto;
    color: variables.$sl-blanco;

    &__text {
      margin: 10px;
      font-family: variables.$tp-roboto;
      font-size: 15px;
      border: none;
      background-color: transparent;
      border-radius: 0;
      border-bottom: 2px solid variables.$sl-gris;
      &::placeholder {
        color: variables.$sl-blanco;
      }
      // &:active {
      //     border-style: outset
      // }
      &:focus {
        outline: none;
      }
    }
    &__rec {
      color: variables.$sl-blanco;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      input {
        cursor: pointer;
      }
    }
  }
  &__logo {
    height: 45%;
    &__img {
      margin-top: -50px;
      width: 250px;
      height: 250px;
    }
    &__label {
      position: relative;
      bottom: 80px;
      font-size: 20px;
      color: variables.$sl-blanco;
      font-family: variables.$tp-roboto;
      font-weight: 400;
    }
  }
  &__botones {
    font-family: variables.$tp-roboto;
    display: flex;
    width: 80%;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &__ing {
      font-family: variables.$tp-roboto;
      font-weight: 700;
      font-size: 15px;
      background: variables.$sl-amarillo;
      width: 95%;
      height: 40px;
      border-radius: 13px;
      border: 0;
      cursor: pointer;
    }
    &__goo {
      font-family: variables.$tp-roboto;
      font-weight: 700;
      font-size: 15px;
      background: variables.$sl-blanco;
      width: 95%;
      height: 40px;
      border-radius: 13px;
      border: 0;
      cursor: pointer;
      img {
        padding-left: 5px;
        padding-top: 5px;
        width: 15px;
        height: 15px;
      }
    }
    label,
    a {
      font-weight: 100;
      font-size: 10px;
    }
    a {
      color: variables.$sl-amarillo;
      cursor: pointer;
    }
  }
}
.loginImagenContainer {
  &__idImagen {
    display: flex;
    width: 100%;
    height: 50%;

    &__log {
      position: relative;
      left: -43%;
      width: 80%;
    }

    &__boun {
      top: -60%;
      left: 35%;
      width: 80%;
    }
  }
}

.sectionLog {
  display: flex;
  background: variables.$sl-principal;
  flex-direction: column;
  align-items: flex-end;
}
// empieza pagina inicio
.mainContainer {
  background-color: variables.$sl-morado-claro;

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &__header {
    display: flex;
    width: 100vw;
    height: 3%;
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;
    // position: relative;
    // top: 8%;
    &__close {
      color: #f56056;
      // opacity: 0;
      // visibility: hidden;
    }
    &__logout {
      font-family: variables.$tp-poppins;
      font-weight: 400;
      background-color: rgb(255, 255, 255);
      width: 100vw;
      width: 50%;
      // height: 10%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
      &__selection {
        padding: 0;
        color: variables.$sl-negro;
      }
    }
    &__btn {
      color: azure;
      position: absolute;
      right: 43px;
      top: 68px;
    }
  }
  &__bienvenida {
    display: flex;
    align-items: center;
    height: 20%;
    justify-content: space-between;
    &__right {
      display: flex;
      align-items: center;
      width: 100vw;
      height: 100px;
      justify-content: center;
      &__logo {
        position: absolute;
        width: 50%;
      }
      &__text {
        font-family: variables.$tp-roboto;
        font-weight: 400;
        color: variables.$sl-blanco;
        font-size: 20px;
      }
    }
    &__nombre {
      width: 40%;
      font-size: 25px;
      padding: 0 0 0 42px;
      &__parrName {
        font-family: variables.$tp-poppins;
        color: variables.$sl-blanco;
        font-weight: 600;
      }
      &__feed {
        font-family: variables.$tp-poppins;
        color: variables.$sl-blanco;
        font-weight: 400;
        font-size: 15px;
      }
      &__parr {
        font-family: variables.$tp-roboto;
        font-weight: 500;
        color: variables.$sl-blanco;
      }
    }
    &__fotoPerfil {
      width: 40%;
      &__Imagen {
        width: 95%;
      }
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 52px;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    &__button {
      border: none;
      cursor: pointer;
      background-color: variables.$sl-blanco;
      padding: 20px;
      img {
        height: 30px;
        width: 30px;
      }
    }
  }
  &__publicar {
    position: absolute;
    height: 52px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 60px;
    &__button {
      background: variables.$sl-amarillo;
      width: 50px;
      height: 100%;
      border-radius: 50%;
      border: 0;
      cursor: pointer;
      &__textbutton {
        font-family: variables.$tp-roboto;
        font-weight: 700;
      }
      img {
        width: 5%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__logout {
      display: none;
    }
  }
  &__publicaciones {
    margin-left: 10%;
    margin-right: 10%;
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-right: solid;
    border-left: solid;
    border-color: variables.$sl-blanco;
    align-items: center;
    overflow-y: scroll;
    &__text {
      width: 80%;
      height: 38%;
      color: variables.$sl-negro;
      background: variables.$sl-blanco;
      border-radius: 20px;
      font-family: variables.$tp-poppins;
      margin: 15px;
      &__imgUser {
        color: variables.$sl-verde-amarillo;
        z-index: 1;
        margin-top: -21px;
      }
      &__userLikes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        z-index: 2;
        &__userWord {
          height: 5%;
          width: 20px;
          display: table-cell;
          text-align: center;
          font-size: 20px;
          vertical-align: middle;
          border-radius: 50%;
          background: variables.$sl-coral;
        }
        &__likes {
          color: variables.$sl-rojo;
        }
        &__user {
          font-weight: 600;
        }
      }
      &__content {
        margin: 20px 10px 0 10px;
        font-size: 14px;
      }
      &__date {
        margin-left: 15px;
        font-size: 10px;
      }
    }
  }

  .navAction {
    opacity: 0;
    visibility: hidden;
  }
}
// estilos modal
#idModal {
  display: flex;
  height: 46%;
  width: 77%;
  margin: 10px;
  position: absolute;
  bottom: 30%;
  left: 8%;
  background-color: #ede3ff;
  color: variables.$sl-gris;
  font-family: variables.$tp-poppins;
  font-weight: 400;
  border-radius: 15px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
  // z-index: 2;
  // transition: all 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  // opacity: 0;
  // visibility: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 90%;
  justify-content: space-around;
  position: relative;

  // &::content {
  //   // content: '';
  //   position: absolute;
  //   top: -31px;
  //   right: -14px; /* Ajusta el valor según el ancho deseado del orillo */
  //   height: 125%;
  //   width: 20px; /* Ajusta el ancho del orillo según tus necesidades */
  //   background-color: variables.$sl-morado-secundario;
  //   border-top-right-radius: 15px; /* Agregado para redondear el orillo */
  //   border-bottom-right-radius: 14px; /* Agregado para redondear el orillo */
  // }

  &__title {
    font-weight: 500;
    width: 90%;
    height: 12%;
    padding-left: 60%;
  }
  &__text {
    border-style: solid;
    border-color: variables.$sl-morado-secundario;
    border-radius: 20px;
    width: 90%;
    height: 50%;
  }
  &__publishbtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0;
    font-family: variables.$tp-roboto;
    font-weight: 700;
    font-size: 20px;
    color: variables.$sl-blanco;
    background: variables.$sl-amarillo;
    height: 35px;
    width: 70px;
    border: solid 2px #f6bd01;
    border-radius: 5px;
  }
  &__closeBtn {
    font-family: variables.$tp-roboto;
    font-weight: 700;
    font-size: 13px;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: transparent;
    color: variables.$sl-gris;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    transition: 0.15s ease;
  }
}
.closeModal {
  opacity: 0;
  visibility: hidden;
}
.is-ghost:hover {
  background-color: #dfdad7;
}
.is-publish:hover {
  background-color: variables.$sl-amarillo;
}
.btnContainer {
  display: flex;
  flex-direction: row-reverse;
}

.registerContainer {
  display: flex;
  width: 100vw;
  height: 60vh;
  flex-direction: column;
  align-items: center;

  color: variables.$sl-blanco;
  &__inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 200px;
    font-family: variables.$tp-roboto;
    color: variables.$sl-blanco;

    &__text {
      margin: 10px;
      font-family: variables.$tp-roboto;
      font-size: 15px;
      border: none;
      background-color: transparent;
      border-radius: 0;
      border-bottom: 2px solid variables.$sl-gris;
      &::placeholder {
        color: variables.$sl-blanco;
      }
      // &:active {
      //     border-style: outset
      // }
      &:focus {
        outline: none;
      }
    }
    &__rec {
      color: variables.$sl-blanco;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  &__logo {
    height: 45%;
    &__img {
      margin-top: -50px;
      width: 250px;
      height: 250px;
    }
    &__label {
      position: relative;
      bottom: 80px;
      font-size: 20px;
      color: variables.$sl-blanco;
      font-family: variables.$tp-roboto;
      font-weight: 400;
    }
  }
  &__botones {
    font-family: variables.$tp-roboto;
    display: flex;
    width: 80%;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &__ing {
      font-family: variables.$tp-roboto;
      font-weight: 700;
      font-size: 15px;
      background: variables.$sl-amarillo;
      width: 95%;
      height: 40px;
      border-radius: 13px;
      border: 0;
    }
    &__goo {
      font-family: variables.$tp-roboto;
      font-weight: 700;
      font-size: 15px;
      background: variables.$sl-blanco;
      width: 95%;
      height: 40px;
      border-radius: 13px;
      border: 0;
      img {
        padding-left: 5px;
        padding-top: 5px;
        width: 15px;
        height: 15px;
      }
    }
    label,
    a {
      font-weight: 100px;
      font-size: 10px;
    }
    a {
      color: variables.$sl-amarillo;
    }
  }
}

.registerImagenContainer {
  &__idImagen {
    display: flex;
    width: 100%;
    height: 50%;

    &__reg {
      position: relative;
      /* top: 13%; */
      left: -70%;
      width: 80%;
    }
    &__boun {
      top: -60%;
      left: 35%;
      width: 80%;
    }
  }
}

.sectionReg {
  display: flex;
  background: variables.$sl-principal;
  flex-direction: column;
  align-items: flex-end;
}
.alert-content {
  background-color: rgba(#ff3838, 0.05);
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: variables.$sl-rojo;
  border: 1px solid lighten(#ff3838, 25%);
  border-radius: 8px;
  background-color: rgba(#ff3838, 0.05);
}

@media only screen and (min-width: 992px) {
  //  seccion login
  .sectionLog {
    flex-direction: row-reverse;
  }
  .loginContainer {
    width: 80vw;
    height: 100vh;

    &__inputs {
      width: 54%;
      height: 147px;
    }
    &__logo {
      height: 45%;
      &__img {
        margin-top: -60px;
        width: 100%;
        height: 120%;
      }
      &__label {
        bottom: 130px;
        margin-left: 80px;
      }
    }
    &__botones {
      width: 52%;
    }
  }

  .loginImagenContainer {
    &__idImagen {
      position: relative;
      left: 20%;
      &__log {
        width: 96%;
        left: -3%;
      }
      &__boun {
        position: absolute;
        top: -14%;
        left: -19%;
        width: 66%;
        height: 114%;
      }
    }
  }
  // fin seccion login

  // sección register
  .sectionReg {
    flex-direction: row-reverse;
  }
  .registerContainer {
    width: 80vw;
    height: 100vh;
    &__inputs {
      width: 54%;
      height: 147px;
    }
    &__logo {
      height: 45%;
      &__img {
        margin-top: -60px;
        width: 100%;
        height: 120%;
      }
      &__label {
        bottom: 130px;
        margin-left: 80px;
      }
    }
    &__botones {
      width: 52%;
    }
  }

  .registerImagenContainer {
    &__idImagen {
      &__reg {
        width: 100%;
        left: 3%;
      }
      &__boun {
        position: absolute;
        top: 7%;
        left: 0%;
        width: 40%;
        height: 93%;
      }
    }
  }

  .sectionReg {
    display: flex;
    background: variables.$sl-principal;
    flex-direction: column;
    align-items: flex-end;
  }
  // fin sesion register

  // seccion inicio
  #idInicio {
    //display: flex;
    // justify-content: center;
    background-color: variables.$sl-morado-claro;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
      height: 0%;
      // display: flex;
      // justify-content: flex-end;
      // align-items: center;
      // position: relative;
      // top: 8%;
      &__close {
        color: #f56056;
        // opacity: 0;
        // visibility: hidden;
      }
      &__logout {
        font-family: variables.$tp-poppins;
        font-weight: 400;
        background-color: rgb(255, 255, 255);
        width: 100vw;
        width: 50%;
        // height: 10%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        &__selection {
          padding: 0;
          color: #000;
        }
      }
      &__btn {
        display: none;
      }
    }
    &__bienvenida {
      width: 70%;
      height: 15%;
      &__right {
        width: 77%;
        height: 10%;
        margin-top: 4%;
        margin-bottom: 4%;
        align-items: center;
        justify-content: normal;
        &__logo {
          width: 25%;
          padding-left: 2.2em;
        }
        &__text {
          font-family: variables.$tp-roboto;
          font-weight: 400;
          color: variables.$sl-blanco;
          font-size: 20px;
        }
      }
      &__fotoPerfil {
        margin-top: -80px;
        width: 30%;
        &__Imagen {
          width: 80%;
        }
      }
    }
    &__publicaciones {
      margin-left: 10%;
      margin-right: 10%;
      height: 50%;
      width: 70%;
      display: flex;
      flex-direction: center;
      border-right: solid;
      border-left: solid;
      border-color: white;
      align-items: center;
      overflow-y: scroll;
      &__text {
        width: 80%;
        height: 38%;
        color: variables.$sl-negro;
        background: white;
        border-radius: 20px;
        font-family: variables.$tp-poppins;
        margin: 15px;
        &__imgUser {
          color: variables.$sl-verde-amarillo;
          z-index: 1;
          margin-top: -21px;
        }
        &__userLikes {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
          margin-left: 5px;
          margin-right: 5px;
          z-index: 2;
          &__likes {
            color: variables.$sl-rojo;
          }
          &__user {
            font-weight: 600;
          }
        }
        &__content {
          margin: 20px 10px 0 10px;
          font-size: 14px;
        }
        &__date {
          margin-left: 15px;
          font-size: 10px;
        }
      }
    }
    &__menu {
      justify-content: space-around;
      background-color: rgb(255, 255, 255);
      border-radius: 38px;
      width: 7%;
      height: 50%;
      align-items: center;
      position: absolute;
      left: 1%;
      flex-direction: column;
      top: 18%;
    }
    &__publicar {
      width: 90%;
    position: absolute;
    display: flex;
    bottom: 50px;
    left: 25px;
    justify-content: space-between;
      &__logout {
        cursor: pointer;
        display: block;
        font-family: variables.$tp-poppins;
      }
      &__button {
        width: 5%;
      }
    }
  }
  #idModal {
    height: 60%;
    width: 50%;
    left: 19%;
    bottom: 15%;
  box-shadow: 4px 14px 45px -10px rgba(0,0,0,0.75);
  
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 90%;
  justify-content: space-around;
  &__title {
    width: 74%;
  }

  // &::before {
  //   //right: 10px;
  //   width: 50px;
  // }
  &__text {
    border-style: solid;
    border-color: variables.$sl-morado-secundario;
    border-radius: 20px;
    width: 90%;
    height: 50%;
  }
  &__publishbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 90%;
    justify-content: space-around;
    &__title {
      width: 74%;
    }
    &__text {
      border-style: solid;
      border-color: variables.$sl-morado-secundario;
      border-radius: 20px;
      width: 90%;
      height: 50%;
    }
    &__publishbtn {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border: 0;
      font-family: variables.$tp-roboto;
      font-weight: 700;
      font-size: 15px;
      color: variables.$sl-blanco;
      background: variables.$sl-amarillo;
      height: 35px;
      width: 70px;
      border: solid 2px #f6bd01;
      border-radius: 5px;
      cursor: pointer;
    }
    &__closeBtn {
      font-family: variables.$tp-roboto;
      font-weight: 700;
      font-size: 15px;
      padding: 12px 20px;
      border-radius: 8px;
      background-color: transparent;
      color: variables.$sl-gris;
      border: 0;
      font-weight: 600;
      cursor: pointer;
      transition: 0.15s ease;
    }
  }
  .closeModal {
    opacity: 0;
    visibility: hidden;
  }
  .is-ghost:hover {
    background-color: #dfdad7;
  }
  .is-publish:hover {
    background-color: variables.$sl-amarillo;
  }
  .btnContainer {
    width: 200px;
    justify-content: space-evenly;
  }
}
}