@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*colores*/
/*fuente*/
* {
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
}

hr {
  margin: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.loginContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background: #9747FF;
  color: rgb(255, 255, 255);
}
.loginContainer__inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 200px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}
.loginContainer__inputs__text {
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: none;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid #A2A3A8;
}
.loginContainer__inputs__text::placeholder {
  color: rgb(255, 255, 255);
}
.loginContainer__inputs__text:focus {
  outline: none;
}
.loginContainer__inputs__rec {
  color: rgb(255, 255, 255);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.loginContainer__inputs__rec input {
  cursor: pointer;
}
.loginContainer__logo {
  height: 30%;
}
.loginContainer__logo__img {
  width: 250px;
  height: 250px;
}
.loginContainer__logo__label {
  position: relative;
  bottom: 80px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.loginContainer__botones {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 80%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.loginContainer__botones__ing {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  background: #F6BD01;
  width: 95%;
  height: 40px;
  border-radius: 13px;
  border: 0;
  cursor: pointer;
}
.loginContainer__botones__goo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  background: rgb(255, 255, 255);
  width: 95%;
  height: 40px;
  border-radius: 13px;
  border: 0;
  cursor: pointer;
}
.loginContainer__botones__goo img {
  padding-left: 5px;
  padding-top: 5px;
  width: 15px;
  height: 15px;
}
.loginContainer__botones label,
.loginContainer__botones a {
  font-weight: 100;
  font-size: 10px;
}
.loginContainer__botones a {
  color: #F6BD01;
  cursor: pointer;
}
.loginContainer__idImagen {
  display: flex;
  width: 100%;
  height: 50%;
}
.loginContainer__idImagen__boun {
  bottom: 0%;
  position: absolute;
  width: 50%;
  height: 36%;
  left: 50%;
}
.loginContainer__idImagen__img {
  position: relative;
  top: 10%;
  left: 20%;
  width: 63%;
  height: 90%;
}
.loginContainer__idImagen__reg {
  position: relative;
  top: 10%;
  left: 24%;
  width: 50%;
  height: 90%;
}

.mainContainer {
  background-color: #CCB5F8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContainer__header {
  display: flex;
  width: 100vw;
  height: 3%;
}
.mainContainer__header__close {
  color: #f56056;
}
.mainContainer__header__logout {
  font-family: "Poppins", monospace;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
.mainContainer__header__logout__selection {
  padding: 0;
  color: #000;
}
.mainContainer__header__btn {
  color: azure;
  position: absolute;
  right: 43px;
  top: 68px;
}
.mainContainer__bienvenida {
  display: flex;
  align-items: center;
  height: 20%;
  justify-content: space-around;
}
.mainContainer__bienvenida__right {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100px;
  justify-content: center;
}
.mainContainer__bienvenida__right__logo {
  position: absolute;
  width: 35%;
}
.mainContainer__bienvenida__right__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.mainContainer__bienvenida__nombre {
  width: 40%;
  font-size: 30px;
  padding: 0 0 0 42px;
}
.mainContainer__bienvenida__nombre__parrName {
  font-family: "Poppins", monospace;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.mainContainer__bienvenida__nombre__feed {
  font-family: "Poppins", monospace;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 15px;
}
.mainContainer__bienvenida__nombre__parr {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.mainContainer__bienvenida__fotoPerfil {
  width: 40%;
}
.mainContainer__bienvenida__fotoPerfil__Imagen {
  width: 95%;
}
.mainContainer__menu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 52px;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}
.mainContainer__menu__button {
  border: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.mainContainer__menu__button img {
  height: 30px;
  width: 30px;
}
.mainContainer__publicar {
  position: absolute;
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60px;
}
.mainContainer__publicar__button {
  background: #F6BD01;
  width: 15%;
  height: 100%;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
.mainContainer__publicar__button__textbutton {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.mainContainer__publicar__button img {
  width: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainContainer__publicaciones {
  margin-left: 10%;
  margin-right: 10%;
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: center;
  border-right: solid;
  border-left: solid;
  border-color: white;
}
.mainContainer__publicaciones__text {
  width: 80%;
  height: 38%;
  color: white;
  background: white;
  border-radius: 20px;
}
.mainContainer .navAction {
  opacity: 0;
  visibility: hidden;
}

@media only screen and (min-width: 992px) {
  #idInicio {
    background-color: #CCB5F8;
  }
  .mainContainer {
    background-color: #CCB5F8;
    height: 100vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .mainContainer__header {
    height: 0%;
  }
  .mainContainer__header__close {
    color: #f56056;
  }
  .mainContainer__header__logout {
    font-family: "Poppins", monospace;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .mainContainer__header__logout__selection {
    padding: 0;
    color: #000;
  }
  .mainContainer__header__btn {
    display: none;
  }
  .mainContainer__bienvenida {
    width: 80%;
    height: 15%;
  }
  .mainContainer__bienvenida__right {
    width: 80%;
    height: 10%;
    margin-top: 4%;
  }
  .mainContainer__bienvenida__right__logo {
    width: 25%;
    padding-left: 2.2em;
  }
  .mainContainer__bienvenida__right__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .mainContainer__bienvenida__fotoPerfil {
    width: 30%;
  }
  .mainContainer__bienvenida__fotoPerfil__Imagen {
    width: 80%;
  }
  .mainContainer__publicaciones {
    background-color: none;
    height: 50%;
    width: 70%;
    border-right: solid;
    border-left: solid;
    border-color: white;
    position: relative;
    top: 70px;
  }
  .mainContainer__menu {
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 38px;
    width: 70%;
    height: 52px;
    align-items: center;
    position: absolute;
    left: 12%;
  }
  .mainContainer__publicar {
    position: absolute;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 60px;
  }
  .mainContainer__publicar__button {
    width: 100%;
  }
}
.registerContainer {
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}
.registerContainer__inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 20%;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}
.registerContainer__inputs__text {
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: none;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid #A2A3A8;
}
.registerContainer__inputs__text::placeholder {
  color: rgb(255, 255, 255);
}
.registerContainer__inputs__text:focus {
  outline: none;
}
.registerContainer__inputs__rec {
  color: rgb(255, 255, 255);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.registerContainer__inputs__error {
  width: 512px;
  padding: 5px;
  max-width: 100%;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}
.registerContainer__logo {
  height: 45%;
}
.registerContainer__logo__img {
  margin-top: 0px;
  width: 250px;
  height: 250px;
}
.registerContainer__logo__label {
  position: relative;
  bottom: 80px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.registerContainer__botones {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 80%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.registerContainer__botones__ing {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  background: #F6BD01;
  width: 95%;
  height: 40px;
  border-radius: 13px;
  border: 0;
}
.registerContainer__botones__goo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  background: rgb(255, 255, 255);
  width: 95%;
  height: 40px;
  border-radius: 13px;
  border: 0;
}
.registerContainer__botones__goo img {
  padding-left: 5px;
  padding-top: 5px;
  width: 15px;
  height: 15px;
}
.registerContainer__botones label,
.registerContainer__botones a {
  font-weight: 100px;
  font-size: 10px;
}
.registerContainer__botones a {
  color: #F6BD01;
}

.registerImagenContainer__idImagen {
  display: flex;
  width: 100%;
  height: 50%;
}
.registerImagenContainer__idImagen__reg {
  position: relative;
  /* top: 13%; */
  left: -48%;
  width: 80%;
}
.registerImagenContainer__idImagen__boun {
  top: -60%;
  left: 35%;
  width: 60%;
}

.alert-content {
  background-color: rgba(255, 56, 56, 0.05);
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #ff3838;
  border: 1px solid #ffb8b8;
  border-radius: 8px;
  background-color: rgba(255, 56, 56, 0.05);
}

.sectionReg {
  display: flex;
  background: #9747FF;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (min-width: 992px) {
  .sectionReg {
    flex-direction: row-reverse;
  }
  .registerContainer {
    width: 80vw;
    height: 100vh;
  }
  .registerContainer__inputs {
    width: 54%;
    height: 147px;
  }
  .registerContainer__logo {
    height: 45%;
  }
  .registerContainer__logo__img {
    margin-top: -60px;
    width: 100%;
    height: 120%;
  }
  .registerContainer__logo__label {
    bottom: 130px;
    margin-left: 80px;
  }
  .registerContainer__botones {
    width: 52%;
  }
  .registerImagenContainer__idImagen__reg {
    width: 100%;
    left: 3%;
  }
  .registerImagenContainer__idImagen__boun {
    position: absolute;
    top: 7%;
    left: 0%;
    width: 40%;
    height: 93%;
  }
}

/*# sourceMappingURL=styles.css.map */
