@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*colores*/
/*fuente*/
/*eslint-disable */
* {
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  scrollbar-width: thin;
}

.unstyle {
  all: unset;
}

hr {
  margin: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.loginContainer {
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  background: #9747FF;
  color: rgb(255, 255, 255);
}
.loginContainer__inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 200px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}
.loginContainer__inputs__text {
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: none;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid #A2A3A8;
  color: rgb(255, 255, 255);
}
.loginContainer__inputs__text::placeholder {
  color: rgb(255, 255, 255);
}
.loginContainer__inputs__text:focus {
  outline: none;
}
.loginContainer__inputs__rec {
  color: rgb(255, 255, 255);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.loginContainer__inputs__rec input {
  cursor: pointer;
}
.loginContainer__logo {
  height: 45%;
}
.loginContainer__logo__img {
  margin-top: -50px;
  width: 250px;
  height: 250px;
}
.loginContainer__logo__label {
  position: relative;
  bottom: 80px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.loginContainer__botones {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 80%;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.loginContainer__botones__ing {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background: #F6BD01;
  width: 95%;
  height: 40px;
  border-radius: 13px;
  border: 0;
  cursor: pointer;
}
.loginContainer__botones__goo {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background: rgb(255, 255, 255);
  width: 95%;
  height: 40px;
  border-radius: 13px;
  border: 0;
  cursor: pointer;
}
.loginContainer__botones__goo img {
  padding-left: 5px;
  padding-top: 5px;
  width: 15px;
  height: 15px;
}
.loginContainer__botones label,
.loginContainer__botones a {
  font-weight: 100;
  font-size: 16px;
}
.loginContainer__botones a {
  color: #F6BD01;
  cursor: pointer;
}

.loginImagenContainer__idImagen {
  display: flex;
  width: 100%;
  height: 50%;
}
.loginImagenContainer__idImagen__log {
  position: relative;
  left: -43%;
  width: 80%;
}
.loginImagenContainer__idImagen__boun {
  top: -60%;
  left: 35%;
  width: 80%;
}

.sectionLog {
  display: flex;
  background: #9747FF;
  flex-direction: column;
  align-items: flex-end;
}

.mainContainer {
  background-color: #CCB5F8;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mainContainer__header {
  display: flex;
  width: 100vw;
  height: 3%;
}
.mainContainer__header__close {
  color: #f56056;
}
.mainContainer__header__logout {
  font-family: "Poppins", monospace;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
.mainContainer__header__logout__selection {
  padding: 0;
  color: #1A1A1A;
}
.mainContainer__header__btn {
  color: azure;
  position: absolute;
  right: 43px;
  top: 68px;
}
.mainContainer__bienvenida {
  display: flex;
  align-items: center;
  height: 20%;
  justify-content: space-between;
}
.mainContainer__bienvenida__right {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100px;
  justify-content: center;
}
.mainContainer__bienvenida__right__logo {
  position: absolute;
  width: 50%;
}
.mainContainer__bienvenida__right__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.mainContainer__bienvenida__nombre {
  width: 40%;
  font-size: 25px;
  padding: 0 0 0 42px;
}
.mainContainer__bienvenida__nombre__parrName {
  font-family: "Poppins", monospace;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.mainContainer__bienvenida__nombre__feed {
  font-family: "Poppins", monospace;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 15px;
}
.mainContainer__bienvenida__nombre__parr {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.mainContainer__bienvenida__fotoPerfil {
  width: 40%;
}
.mainContainer__bienvenida__fotoPerfil__Imagen {
  width: 95%;
}
.mainContainer__menu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 52px;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}
.mainContainer__menu__button {
  border: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.mainContainer__menu__button img {
  height: 30px;
  width: 30px;
}
.mainContainer__publicar {
  position: absolute;
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60px;
}
.mainContainer__publicar__button {
  background: #F6BD01;
  width: 50px;
  height: 100%;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
.mainContainer__publicar__button__textbutton {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.mainContainer__publicar__button img {
  width: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainContainer__publicar__logout {
  display: none;
}
.mainContainer__publicaciones {
  margin-left: 10%;
  margin-right: 10%;
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  border-right: solid;
  border-left: solid;
  border-color: rgb(255, 255, 255);
  align-items: center;
  overflow-y: scroll;
}
.mainContainer__publicaciones::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.mainContainer__publicaciones::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
.mainContainer__publicaciones::-webkit-scrollbar-thumb {
  background-color: #9747FF;
  border-radius: 20px;
}
.mainContainer__publicaciones__text {
  display: flex;
  width: 90%;
  /* height: 100px; */
  color: #1A1A1A;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  font-family: "Poppins", monospace;
  margin: 9px;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 3px 5px 3px;
}
.mainContainer__publicaciones__text__imgUser {
  color: #C4E24C;
  z-index: 1;
  margin-top: -21px;
}
.mainContainer__publicaciones__text__userLikes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  margin-left: 5px;
}
.mainContainer__publicaciones__text__userLikes__userWord {
  height: 5%;
  width: 20px;
  display: table-cell;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  border-radius: 50%;
  background: #F56056;
}
.mainContainer__publicaciones__text__userLikes__likes {
  color: #B03449;
}
.mainContainer__publicaciones__text__userLikes__user {
  margin-left: 15px;
  font-size: 10px;
}
.mainContainer__publicaciones__text__userLikes__heart {
  display: flex;
}
.mainContainer__publicaciones__text__userLikes__update {
  display: flex;
  gap: 4px;
}
.mainContainer__publicaciones__text__content {
  padding: 5px 0 0 5px;
  font-size: 13px;
}
.mainContainer__publicaciones__text__date {
  padding-top: 10px;
  margin-left: 15px;
  font-size: 10px;
}
.mainContainer .navAction {
  opacity: 0;
  visibility: hidden;
}

#idModal {
  display: flex;
  height: 37%;
  width: 77%;
  margin: 10px;
  position: absolute;
  bottom: 30%;
  left: 8%;
  background-color: #ede3ff;
  color: #A2A3A8;
  font-family: "Poppins", monospace;
  font-weight: 400;
  border-radius: 15px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 90%;
  justify-content: space-around;
  position: relative;
}
.content__title {
  font-weight: 500;
  width: 90%;
  height: 12%;
  padding-left: 60%;
}
.content__text {
  font-family: "Poppins", monospace;
  border-style: solid;
  border-color: #7851D9;
  border-radius: 20px;
  width: 90%;
  height: 30%;
  padding: 20px;
}
.content__publishbtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background: #F6BD01;
  height: 35px;
  width: 70px;
  border: solid 2px #f6bd01;
  border-radius: 5px;
}
.content__closeBtn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: transparent;
  color: #A2A3A8;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;
}

.closeModal {
  opacity: 0;
  visibility: hidden;
}

.is-ghost:hover {
  background-color: #dfdad7;
}

.is-publish:hover {
  background-color: #F6BD01;
}

.btnContainer {
  display: flex;
  flex-direction: row-reverse;
}

.registerContainer {
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 100;
  color: rgb(255, 255, 255);
}

.registerContainer__inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 200px;
  font-family: "Roboto", sans-serif;
}

.registerContainer__inputs__text {
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: none;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid #A2A3A8;
  color: rgb(255, 255, 255);
}

.registerContainer__inputs__text::placeholder {
  color: rgb(255, 255, 255);
}

.registerContainer__inputs__text:focus {
  outline: none;
}

.registerContainer__inputs__rec {
  color: rgb(255, 255, 255);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.registerContainer__logo {
  height: 45%;
}

.registerContainer__logo__img {
  margin-top: -50px;
  width: 250px;
  height: 250px;
}

.registerContainer__logo__label {
  position: relative;
  bottom: 80px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.registerContainer__botones {
  font-family: "Roboto", sans-serif;
  display: flex;
  width: 80%;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.registerContainer__botones__ing {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background: #F6BD01;
  width: 95%;
  height: 40px;
  border-radius: 13px;
  border: 0;
}

.registerContainer__botones__goo {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background: rgb(255, 255, 255);
  width: 95%;
  height: 40px;
  border-radius: 13px;
  border: 0;
}

.registerContainer__botones__goo img {
  padding-left: 5px;
  padding-top: 5px;
  width: 15px;
  height: 15px;
}

.registerContainer__botones label,
.registerContainer__botones a {
  font-weight: 100px;
  font-size: 16px;
}

.registerContainer__botones a {
  color: #F6BD01;
}

.registerImagenContainer__idImagen {
  display: flex;
  width: 100%;
  height: 50%;
}

.registerImagenContainer__idImagen__reg {
  position: relative;
  left: -60%;
  width: 80%;
}

.registerImagenContainer__idImagen__boun {
  width: 67%;
}

.sectionReg {
  display: flex;
  background: #9747FF;
  flex-direction: column;
  align-items: flex-end;
}

.alert-content {
  background-color: rgba(255, 56, 56, 0.05);
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #B03449;
  border: 1px solid #ffb8b8;
  border-radius: 8px;
  background-color: rgba(255, 56, 56, 0.05);
}

#idBotonUpdate {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background: #56AAF5;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#idBotonDelete {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background: #B03449;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#idBotonSave {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background: #00875A;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#idBotonCancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background: #B03449;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#docRefIdlike {
  padding: 4px;
}

#idbotupdate {
  width: 80%;
  height: 38%;
  color: #1A1A1A;
  background: white;
  border-radius: 20px;
  font-family: "Poppins", monospace;
  margin: 15px;
}

@media only screen and (min-width: 992px) {
  .sectionLog {
    flex-direction: row-reverse;
  }
  .loginContainer {
    width: 80vw;
    height: 100vh;
  }
  .loginContainer__inputs {
    width: 54%;
    height: 147px;
  }
  .loginContainer__logo {
    height: 45%;
  }
  .loginContainer__logo__img {
    margin-top: -60px;
    width: 100%;
    height: 120%;
  }
  .loginContainer__logo__label {
    bottom: 95px;
    margin-left: 80px;
  }
  .loginContainer__botones {
    width: 52%;
  }
  .loginImagenContainer__idImagen {
    position: relative;
    left: 20%;
  }
  .loginImagenContainer__idImagen__log {
    width: 96%;
    left: -3%;
  }
  .loginImagenContainer__idImagen__boun {
    position: absolute;
    top: -14%;
    left: -19%;
    width: 66%;
    height: 114%;
  }
  .sectionReg {
    flex-direction: row-reverse;
  }
  .registerContainer {
    width: 95vw;
    height: 100vh;
  }
  .registerContainer__inputs {
    width: 54%;
    height: 147px;
  }
  .registerContainer__logo {
    height: 45%;
  }
  .registerContainer__logo__img {
    margin-top: -60px;
    width: 100%;
    height: 120%;
  }
  .registerContainer__logo__label {
    bottom: 95px;
    margin-left: 80px;
  }
  .registerContainer__botones {
    width: 52%;
  }
  .registerImagenContainer__idImagen__reg {
    width: 100%;
    left: 3%;
  }
  .registerImagenContainer__idImagen__boun {
    position: absolute;
    top: 7%;
    left: 0%;
    width: 40%;
    height: 93%;
  }
  #idInicio {
    background-color: #CCB5F8;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainContainer__header {
    height: 0%;
  }
  .mainContainer__header__close {
    color: #f56056;
  }
  .mainContainer__header__logout {
    font-family: "Poppins", monospace;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .mainContainer__header__logout__selection {
    padding: 0;
    color: #000;
  }
  .mainContainer__header__btn {
    display: none;
  }
  .mainContainer__bienvenida {
    width: 70%;
    height: 15%;
  }
  .mainContainer__bienvenida__right {
    width: 77%;
    height: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
    align-items: center;
    justify-content: normal;
  }
  .mainContainer__bienvenida__right__logo {
    width: 25%;
    padding-left: 2.2em;
  }
  .mainContainer__bienvenida__right__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .mainContainer__bienvenida__fotoPerfil {
    margin-top: -80px;
    width: 30%;
  }
  .mainContainer__bienvenida__fotoPerfil__Imagen {
    width: 80%;
  }
  .mainContainer__publicaciones {
    margin-left: 10%;
    margin-right: 10%;
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: center;
    border-right: solid;
    border-left: solid;
    border-color: white;
    align-items: center;
    overflow-y: scroll;
  }
  .mainContainer__publicaciones__text {
    width: 80%;
    height: 38%;
    color: #1A1A1A;
    background: white;
    border-radius: 20px;
    font-family: "Poppins", monospace;
    margin: 15px;
  }
  .mainContainer__publicaciones__text__imgUser {
    color: #C4E24C;
    z-index: 1;
    margin-top: -21px;
  }
  .mainContainer__publicaciones__text__userLikes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 2;
  }
  .mainContainer__publicaciones__text__userLikes__likes {
    color: #B03449;
  }
  .mainContainer__publicaciones__text__userLikes__user {
    margin-left: 15px;
    font-size: 13px;
  }
  .mainContainer__publicaciones__text__userLikes__heart {
    display: flex;
  }
  .mainContainer__publicaciones__text__content {
    margin: 20px 10px 0 10px;
    font-size: 14px;
  }
  .mainContainer__publicaciones__text__date {
    margin-left: 15px;
    font-size: 10px;
  }
  .mainContainer__menu {
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 38px;
    width: 7%;
    height: 50%;
    align-items: center;
    position: absolute;
    left: 1%;
    flex-direction: column;
    top: 18%;
  }
  .mainContainer__publicar {
    width: 90%;
    position: absolute;
    display: flex;
    bottom: 50px;
    left: 25px;
    justify-content: space-between;
  }
  .mainContainer__publicar__logout {
    cursor: pointer;
    display: block;
    font-family: "Poppins", monospace;
  }
  .mainContainer__publicar__button {
    width: 5%;
  }
  #idModal {
    height: 60%;
    width: 50%;
    left: 19%;
    bottom: 15%;
    box-shadow: 4px 14px 45px -10px rgba(0, 0, 0, 0.75);
    z-index: 2;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 90%;
    justify-content: space-around;
  }
  .content__title {
    width: 74%;
  }
  .content__text {
    font-family: "Poppins", monospace;
    border-style: solid;
    border-color: #7851D9;
    border-radius: 20px;
    width: 90%;
    height: 30%;
    padding: 20px;
  }
  .content__publishbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 90%;
    justify-content: space-around;
  }
  .content__publishbtn__title {
    width: 74%;
  }
  .content__publishbtn__text {
    border-style: solid;
    border-color: #7851D9;
    border-radius: 20px;
    width: 90%;
    height: 50%;
  }
  .content__publishbtn__publishbtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background: #F6BD01;
    height: 35px;
    width: 70px;
    border: solid 2px #f6bd01;
    border-radius: 5px;
    cursor: pointer;
  }
  .content__publishbtn__closeBtn {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: transparent;
    color: #A2A3A8;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    transition: 0.15s ease;
  }
  .closeModal {
    opacity: 0;
    visibility: hidden;
  }
  .is-ghost:hover {
    background-color: #dfdad7;
  }
  .is-publish:hover {
    background-color: #F6BD01;
  }
  .btnContainer {
    width: 200px;
    justify-content: space-evenly;
  }
  .btnContainer__closeBtn {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: transparent;
    color: #A2A3A8;
    border: 0;
    cursor: pointer;
    transition: 0.15s ease;
  }
  #idBotonUpdate:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
